.index-services,
.index-services .service_title {
    margin-bottom: 5rem;
    border-bottom: 1px solid #1f1f1d;
}

.index-services .service_title {
    font-family: "AS-Expert-04";
    font-size: 26.7px;
    letter-spacing: 0em;
    line-height: 1.1em;
    font-weight: 300;
    color: #f7f7f7;
    border-bottom: 1px solid #3d3d3a;
    margin-bottom: 35px;
    padding-bottom: 12px;
}

@media only screen and (min-width: 768px) {
    .index-services .service_title {
        font-size: 50px;
        letter-spacing: -0.03em;
    }
}

.index-services .service-card {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index-services .service-card .image-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.index-services .service-card .image-container img {
    /* max-width: 70%; */
    width: 70%;
    height: auto;
    /* margin: 0 auto; */
}

.index-services .service-card .text-container {
    /* text-align: justify; */
    display: grid;
    justify-content: center;
    align-content: center;
}

.index-services .service-card .text-container p {
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    main {
        margin-top: 40px;
    }

    .index-services .service-card {
        display: block;
        padding: 0;
        /* border: 1px solid wheat; */
    }

    .index-services .service-card .image-container {
        display: block;
        position: relative;
        width: 100%;
        height: 200px;
        /* border: 1px solid white; */
        padding: 0;
    }

    .index-services .service-card .image-container img {
        position: absolute;
        /* max-width: 100%; */
        width: 100%;
        margin: 0;
        height: 200px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .index-services .service-card .text-container {
        display: block;
        padding-top: 10px;
    }
}
